# 👋 Code owners help maintain this repository and keep it aligned with our technical vision.
# You're responsible for reviewing changes, ensuring quality, and guiding contributors.
# For more information about CODEOWNERS, see:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# As we cannot use groups yet, we list all members explicitly.
# Default owners for everything in the repository
* @antonkri @castler @LittleHuba @ramceb @luizcordeiro @michaelsaborov
